@page "/droplist"

@inject IRoleService roleService

<div class="demo-section">
    <label for="selectId">Select a product:</label>
    <br />
    <TelerikDropDownList Data="@Data"
                         ValueField="Id"
                         TextField="Name"
                         @bind-Value="@SelectedProduct"
                         Id="selectId">
    </TelerikDropDownList>
</div>


@code {
    public int SelectedProduct { get; set; }

    public IEnumerable<Role> Data { get; set; }

    protected override void OnInitialized()
    {
        Data = roleService.GetRoles();
    }
}
