@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        My Application
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>


        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            <TelerikRootComponent>
                <div class="body-content">
                    @Body
                </div>
            </TelerikRootComponent>
        </MudContainer>
    </MudMainContent>
</MudLayout>
@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}

<style>
    .body-content {
        padding: 1.25rem;
        width: 100%;
        height: calc(100vh - 132px);
        overflow: auto;
    }
</style>